*{
    padding:0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow-x: hidden;
}
.bg-dark{
    background-color:#0984e3 !important;
}
.navbar-brand{
    font-weight: bold;
    font-size: 30px;

}
a:hover.nav-link,
.nav-link.active{
   border-bottom: 1px solid blue;
}
.navbar-dark .navbar-nav .nav-link{
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-item{
    margin-right: 20px;
}

.srchproj{
    display: inline;
    margin-left: 30px;
    
}
.left{
  margin-left: 45px;
}
.srchproj ul{
    display: flex;
    border-radius: 25px;
    height: 50px;
    margin-left: 20px;
   
}
section ul li{
    list-style: none;
    background: #eee;
    height: 48px;
    font-weight: 8px;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    width:12%;
    cursor: pointer;
}
.itemBox img{
  width:200px;
  height: 180px;
}
 section ul li.active{
    background: #03a9f4;
}  
@media screen and (max-width: 400px) {

  section ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 200px;
    overflow: scroll;
  }
 
  .left{
    margin-left: 0px;
  }
  .srchproj{
    margin-left: 0px;
    padding-left: 0px;
  }
  .srchproj{
    margin-left: 0px;
  }
  section ul li{
    width:24%;
  }
  .itemBox{
    margin-left: 30px;
  }
.card-body{
  background-color: #ecf0f1;
}

}

.text {
  font-size: 20px;
  padding: 16px 32px; 
}
.text a:hover{
  color:#000;
  cursor: pointer;
  border-bottom: 1px solid blue;
}
.father{
  position: relative;
  width:480px;
  height: 250px;
  border: 1px solid;
}

.child1{
  position: absolute;
  width: 240px;
  height: 250px;
  border: 1px solid;
}
.child1 img{
  width: 238px;
  height: 125px;
}
.child1 h4{
  text-decoration: underline;
}
.child2{
  
  position: absolute;
  width: 240px;
  height: 250px;
  right: 0;
  top: 0;
}
.child2 h4{
  text-decoration: underline;
}
/* .child2 .data{
  height:120px;
  width: 240px;
  right: 0;
  top: 0;
  border: 1px solid;
}
.child2 .description{
  height:130px;
  width: 240px;
  right: 0;
  bottom: 0;
} */

